<nav class="navbar navbar-default" style="display: flex; justify-content: space-between; align-items: center;">
  <div class="container-fluid" style="width: 100%;">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="reload()">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="recipes" >Recipes</a></li>
        <li routerLinkActive="active"><a routerLink= "shopping" >Shopping List</a></li>
      </ul>
    </div>
  </div>
  <div class="information-block" *ngIf="!!user">
    <div>
      <div class="col-xs-12" appDropdown>
        <div class="btn-group">
          <button class="btn dropdown-toogle" style="background: transparent;">
            {{user}} <span class="caret"></span>
          </button>
        </div>
        <ul class="dropdown-menu">
          <li><a class="btn-primary" style="pointer-events: none; color: white;">{{user}}</a></li>
          <li style="display: flex; align-items: center;">
            <a (click)="logout()">Sign Out</a>
            <img src="https://img.icons8.com/metro/50/000000/export.png"/></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
